<%-include('./includes/header')%>
	<style type="text/css">
		.lightbox {
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: 7;
			opacity: 0.3;
			display: block;
			background-color: rgb(0, 0, 0);
			display: none;
		}

		.pop,
		iframe {
			position: absolute;
			left: 50%;
			top: 0;
			width: 893px;
			height: 100%;
			margin-left: -446.5px;
			z-index: 9;
		}
	</style>
	
	<script type="text/javascript">
		function showPdf(isShow) {
			var state = "";
			if (isShow) {
				state = "block";
			} else {
				state = "none";
			}
			var pop = document.getElementById("pop");
			pop.style.display = state;
			var lightbox = document.getElementById("lightbox");
			lightbox.style.display = state;
		}
		function close() {
			showPdf(false);
		}
	</script>

	<div class="row">
			<div class="removeMSG"></div>
		<%-include('./includes/treeNav')%>
			<div class="col-md-10 col-xs-12 carModelURL" carModelUrl='<%=typeof( carModelURL)!==' undefined '&& carModelURL||' '%>'>
				<%car_Brand.map(function(car){%>
					<%car.carModel.map(function(carModel){%>
						<div class="panel panel-default" style='display:none' carModel=<%=carModel.carModel%>>
							<div class="panel-heading" style='background-color:#EBE6E6;'>
								<span style='font-weight:900;'>当前车型</span>
							</div>
							<div>
								<div class="media">
									<div class="media-left">
										<img class="caseTopicImg" src="<%=carModel.modelImg%>">
									</div>
									<div class="media-body">
											
										<h4>厂家：
											<span>
												<%=car.carBrand%>
											</span>
											<span class="btn btn-default pull-right choose">车型选择</span>
										</h4>
										
										<h4>车型：
											<span>
												<%=carModel.carModel%>
											</span>
										</h4>
									</div>

									<div class="col-sm-10 father">
										<div class="msg" style='margin-top:10px;'></div>
										<h3 style="font-weight:500;"><%=carModel.carModel%>&nbsp;
											年份:
												<%if(current_user&&current_user.attr.admin){%>
													<select class="chooseYear" style='width:150px;'><!--上传选择年份-->
														<option>请选择年份</option>
														<%car.carYear[0].carYear.map(function(carYear){%>
															<option>
																<%=carYear%>
															</option>
															<%})%>
													</select>
												<%}%>
											
											
												<!--查看资料按年份选择-->
												<select class="ChooseCarInformationYear" style='width:150px;'>

													<!--对比两个对象的键值是否有相同，取相同值存进另一数组-->
													<%var carInformationYear = [];%>
									
													<%var le = car.carYear[0].carYear.length%>
													<%var lf =car.carInformation.length%>

													<%for(let i=0;i<le;i++){%>
														<%for(let j=0;j<lf;j++){%>
															<%var leYear=car.carYear[0].carYear[i]%>
															<%if(car.carInformation[j].carModel==carModel.carModel){%><!--只要该车型的年份-->
																<%var lfYear=car.carInformation[j].carYear%>
															<%}%>
															
															<%if(leYear==lfYear){%>
																<%carInformationYear[leYear]=leYear%><!--用同一个leYear键替换相同值-->
															<%}%>
														<%}%>		
													<%}%>


													<%carInformationYear.map(function(year){%>
														<option>
															<%=year%>
														</option>
													<%})%>
												</select>
										</h3>

										<ul style="margin-bottom:30px;">

											<% car.carInformation.map(function(carInformation){%>
												<% if(carInformation.carModel==carModel.carModel){%>
													<li class="infoData" style='font-weight:900;font-size:15px;' carInformationYear='<%=carInformation.carYear%>'>
														<a href="<%=carInformation.carInformation%>" target="pdfContainer" onclick="showPdf(true)">
															<span class="glyphicon glyphicon-file"></span>
															【<span class="fileName"><%=carInformation.fileName%></span>】
														</a>
														<%if(current_user&&current_user.attr.admin){%>
														<a style='cursor: pointer; text-decoration: none;' class="glyphicon glyphicon-trash remove" Brand='<%=car.carBrand%>' Information='<%=carInformation.carInformation%>' carInformationYear='<%=carInformation.carYear%>'
														 fileName='<%=carInformation.fileName%>'></a>
														<%}%>
													</li>
													<% }%>
														<% })%>
														<%if(current_user&&current_user.attr.admin){%>
															<li class="information_li" style='list-style-type: none;font-weight:900;margin-top:30px;'>
																
																<form class="from" method="post" action="/uploadInformation" enctype="multipart/form-data">
																	<input class="upfile" id="upInformation" name="upInformation" type="file" value="上传">
																	<p style='margin-top:10px;' class="btn btn-default upLoadData" id='upLoadInformation' carModel='<%=carModel.carModel%>' carBrand='<%=car.carBrand%>'>上传资料</p>
																</form>
															</li>

														<%}%>	
															<div style='display:none;'>
																<!--数组元素查询测试-->
																<input type="text" placeholder="年份">
																<input type='text' placeholder="车型">
																<button class="chek">查找年份</button>
															</div>

										</ul>
									</div>
									<!--col-sm-4-->

								</div>
							</div>
						</div>
						<%})%>
							<%})%>
								<!--
	            <div class="lightbox" id="lightbox"></div>
				<div id="pop" class="pop" style="display: none;">
					<a href="javascript:close()" style="
					position: absolute;
					right:-100px;
					display: inline-block;
					width: 80px;
					height: 30px;
					color:red;
					" id="close">关闭</a>
				   <iframe frameborder="0" id="pdfContainer" name="pdfContainer" style='height:800px;width:100%;'></iframe>
				
			    </div>-->
			</div>
			<!-- col-md-10 -->
	</div>




	
	<!--是body的onload事件，注意这个script的摆放位置-->
	<script>

		//加载完时按选择的车型显示
		function showInformation() {
			console.log('加载完成');
			var carModelURL = $('.carModelURL').attr('carModelURL');
			console.log('Model是：' + carModelURL);
			$('.panel[carModel=' + carModelURL + ']').show();
		}

	</script>

	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<!--模版内引入js文件需在前面加'/'才能引入成功-->
	<script src="/javascripts/bootstrap.js"></script>
	<!--模版内引入js文件需在前面加'/'才能引入成功-->
	<script src="/javascripts/less.min.js" type="text/javascript"></script>

	</body>

	<script>
		/*$('#upload').click(function () {
			$this = $(this);
			var brother = $this.next();
			var upInformation = brother.find('#upInformation')
			console.log('查找到的值：'+upInformation);
			upInformation.click();
			// $('#upInformation').click();
		})*/
		$(document).ready(function () {
			/*
			$('.chek').click(function () {
				$this = $(this);
				let year = $this.prev().prev().val();
				let model = $this.prev().val();

				console.log('year是：' + year);
				console.log('model是：' + model);

				let action = '/chekYear';
				let data = {
					year: year,
					model: model
				}
				$.post(action, data, function () { })
			})*/

			/*获取上传文件*/
			$('.upfile').change(function () {
				$this = $(this);
				
				var file = $(this).get(0).files[0];

				let year = $this.closest('.father').find('.chooseYear').val();				
				let model = $this.next().attr('carModel');
				var fileNames = $('.fileName');
					
				let patt1 = new RegExp(year);
				let patt2 = new RegExp(model);
				let result1 = patt1.test(file.name);
				let result2 = patt2.test(file.name);
			
				//检查上传的文件名是否符合规范
				let error = '';
				if(!result1||!result2){
					var msg = " <div class='alert alert-warning alert-dismissible' role='alert'>"
                        + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"
                        + "<span aria-hidden='true'>&times;</span>"
                        + "</button>"
                        + "<strong>请查看是否已选择年份或文件命名是否规范</strong>"
						+ "</div>"
						let $prompt = $('.msg');
						$prompt.html(msg);
						$this.val('');//取消选择的文件
				}

				//上传同一文件名时提醒是不是更新
				fileNames.map(function(index,elment){
					let text = $(elment).text();
					if(file.name==text){
						let r = confirm('之前上传过同一文件，现在是为了更新吗？');
						if(r){
							return true;
						}
						if(!r){
							$this.val('');//取消选择的文件
						}

					}
				})		
				console.log('fileName是：' + file.name);
				console.log('fileNames是：' + fileNames);
				console.log('chooseYear是：'+year);
				console.log('model是：'+model);

			})

			/*上传文件*/
		
			$('.chooseYear').change(function(){
				$this = $(this);
				let val = $this.val();
				//carYear = val;
				console.log('val是：'+val);
				$('.upfile').change();//验证年份与文件名
			})
			$('.upLoadData').click(function () {
				$this = $(this);
				console.log('进入uploadData');
				let carModel = $this.attr('carModel');
				let carBrand = $this.attr('carBrand');
				let carYear = $this.closest('.father').find('.chooseYear').val();	
				
				console.log('carModel是：' + carModel);
				console.log('carBrand是:' + carBrand);
				console.log('carYear是:' + carYear);

				let error = ''
				if(carYear=='请选择年份'){
					var msg = " <div class='alert alert-warning alert-dismissible' role='alert'>"
                        + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"
                        + "<span aria-hidden='true'>&times;</span>"
                        + "</button>"
                        + "<strong>请选择年份</strong>"
						+ "</div>"
						let $prompt = $('.msg');
						$prompt.html(msg);
						$('.chooseYear').focus();

						return;
				}

				let url = $this.closest('.from').attr('action');
				let queryUrl = "?carBrand=" + carBrand + "&carYear=" + carYear + "&carModel=" + carModel;
				url = url + queryUrl;

				let from = $this.closest('.from');

				from.attr('action', url);
				from.submit();

			})



			/*删除资料*/
			$('.remove').click(function () {//不要用ID，ID只能获得第一个元素
				var $this = $(this);
				var carBrand = $this.attr('Brand');
				var carInformation = $this.attr('Information');
				var carInformationYear = $this.attr('carInformationYear');
				var fileName = $this.attr('fileName');

				infoData = $this.closest('.infoData');
				console.log('carBrand是：' + carBrand);
				console.log('carInformation是：' + carInformation);
				var data = {
					carBrand: carBrand,
					carInformation: carInformation,
					carInformationYear:carInformationYear,
				}
				let r = confirm('确认删除吗？')
				if (r == true) {
					let rn = confirm('您将删除   ' + fileName + '   这个文件')
					if (rn == true) {
						$.post('/removeInformation', data, function (data) {
							if (data.success) {
								infoData.remove();
							}
						})
					}
				}

			})

			//根据车型选择
			$('.chooseModel').click(function () {
				var $this = $(this);

				var carBrand = $this.attr('carBrand');
				var Model = $this.text();
				ModelURL = '&carModel=' + Model;
				carBrandUrl = '/information/?carBrand=' + carBrand + ModelURL;
				console.log('carModelUrl是：' + carBrandUrl);
				$this.attr('href', carBrandUrl);


				/*$('.panel').hide();
				$('.panel[carModel=' + Model + ']').show();*/


			})

			/*选择查看年份*/
			$('.ChooseCarInformationYear').change(function(){
				$this = $(this);
				let year = $this.val();
				console.log('year是：'+year)
				$('.infoData').hide();
				$('.infoData[carInformationYear='+year+']').show();
			})

			//汽车品牌侧边导航
			$('.tree').scroll(function () {
				var tree = $('.tree').offset().top;
				var navScrollLeft = $('.navscroll').offset().left;
				$('.navscroll').offset({ top: tree, left: navScrollLeft });

			})
			$(".carBrand,.treeFisrtWord").click(function () {
				var $this = $(this);
				var carModel = $this.next();
				carModel.toggle();
			});

			$(window).scroll(function () {
				console.log('进入window.scroll');
				var scrollTop = $(window).scrollTop();
				var head = $('.head');
				var nav = $('.navbar')

				var headHeight = head.height();
				var navHeight = nav.height();

				if (scrollTop > 130) {
					$('.tree').offset({ top: scrollTop })
				} else {
					$('.tree').offset({ top: headHeight + navHeight + 2 })
				}
			})

			$('.carBrandEdit').click(function(){
				$this = $(this);
				let carBrand = $this.prev().attr('carBrand');
				let carModel = $this.prev().text();
				let FisrtWord = $this.closest('.alphabet').prev().text();
				
				let url = '/carBrand/edit'
				
				let queryURL = '?carBrand='+carBrand+'&carModel='+carModel+'&FisrtWord='+FisrtWord;
				url= url+queryURL;		
				
				$this.attr('href',url);
						
			})

			$('.removeCar').click(function () {
				$this = $(this);
				let carBrand = $this.attr('carBrand');
				let r = confirm('要删除这个品牌吗');
				if (r) {
					let rn = confirm('将删除 ' + carBrand + ' 这个品牌');
					if (rn) {
						let action = '/carBrand/remove';
						let data = {
							carBrand: carBrand,
						}
						$.post(action, data, function (data) {
							if (data.success) {
								var msg = " <div class='alert alert-success alert-dismissible' role='alert'>"
									+ "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"
									+ "<span aria-hidden='true'>&times;</span>"
									+ "</button>"
									+ "<strong>品牌删除成功</strong>"
									+ "</div>"
								var $prompt = $('.removeMSG');
								$prompt.html(msg);
								$this.closest('.carBrand').remove();

							} else {
								alert('删除出错')
							}
						})
					}
				}

			})
			$('.choose').click(function(){
				let $this = $(this);
				let carModelURL = $this.closest('.carModelURL');
				let tree = carModelURL.prev();
				tree.show();
				carModelURL.attr('class','col-md-10 col-xs-7 carModelURL');
				$this.hide();
			})
		})




	</script>

	</html>