<%-include('./includes/header')%>

    <div class="row">
        <%-include('./includes/treeNav')%>
            <div class="col-md-8">
                <div class="panel noborder topcinav" style="border-style:none">
                    <div class="panel-heading">
                        <ul class="nav nav-pills">
                            <li>
                                <a class="tabURL" href="/maintenanceCase/?tab=机电维修案例" carModelUrl='<%=typeof( carModelURL)!==' undefined
                                    '&& carModelURL||' '%>'>机电维修案例</a>
                            </li>
                            <li>
                                <a class="tabURL" href='/maintenanceCase/?tab=电子维修案例' carModelUrl='<%=typeof(carModelURL)!==' undefined
                                    '&& carModelURL||' '%>'>电子维修案例</a>
                            </li>
                        </ul>
                    </div>
                    <div class="" style="background-color:white;">
                        <%if(caseTopic.length){%>
                            <p style='font-weight:900;font-size:18px;border-bottom:1px solid #CCCCCC;padding-top:15px;'>当前车型:
                                <%=typeof(carModelURL)!==' undefined '&& carModelURL||'全部 '%>
                                    <span>(
                                        <%=caseTopic.length%>篇)</span>
                            </p>

                            <%caseTopic.forEach(function(caseTopic){%>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="/<%=caseTopic.id%>/datails">
                                            <img style='max-width:none;width:100px;height:100px;' class="media-object" src='<%=caseTopic.PhenomenonImg%>' alt='加载中...'>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="/<%=caseTopic.id%>/datails">
                                            <h4>
                                                <%=caseTopic.title%>
                                            </h4>
                                        </a>
                                        <p>
                                            <%=caseTopic.FaultPhenomenon%>
                                        </p>
                                    </div>
                                </div>
                                <%})%>

                                    <%}else{%>
                                        <span>无</span>
                                        <%}%>

                    </div>
                </div>
            </div>
            <%-include('./includes/end')%>

                <script>
                    $(document).ready(function () {
                        $('.removeCar').click(function () {
                            $this = $(this);
                            let carBrand = $this.attr('carBrand');
                            let action = '/carBrand/remove';
                            let data = {
                                carBrand: carBrand,
                            }
                            $.post(action, data, function (data) {
                                if (data.success) {
                                    var msg = " <div class='alert alert-success alert-dismissible' role='alert'>"
                                        + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"
                                        + "<span aria-hidden='true'>&times;</span>"
                                        + "</button>"
                                        + "<strong>品牌删除成功</strong>"
                                        + "</div>"
                                    var $prompt = $('.removeMSG');
                                    $prompt.html(msg);
                                    $this.closest('.carBrand').remove();

                                } else {
                                    alert('删除出错')
                                }
                            })
                        })

                        $('.chooseModel').click(function () {
                            $this = $(this);
                            let text = $this.text();
                            carModelUrl = '/maintenanceCase/?carModel=' + text;
                            console.log('carModelUrl是：' + carModelUrl);
                            $this.attr('href', carModelUrl);
                        })

                        var carModelURL = $('.tabURL').attr('carModelURL');//汽车品牌条件选择变量

                        $('.tabURL').click(function () {
                            $this = $(this);
                            var url = $this.attr('href');
                            if (carModelURL) {
                                url = url + '&carModel=' + carModelURL;
                                $this.attr('href', url);
                            } else {
                                next();
                            }
                        })

                        //汽车品牌侧边导航
                        $('.tree').scroll(function () {
                            var tree = $('.tree').offset().top;
                            var navScrollLeft = $('.navscroll').offset().left;
                            $('.navscroll').offset({ top: tree, left: navScrollLeft });

                        })
                        $(".carBrand,.treeFisrtWord").click(function () {
                            var $this = $(this);
                            var carModel = $this.next();
                            carModel.toggle();
                        });
                        $(window).scroll(function () {

                            var windowWidth = $(window).height();

                            if (windowWidth > 700) {//当屏幕大于700时
                                var scrollTop = $(window).scrollTop();
                                var head = $('.head');
                                var nav = $('.navbar')

                                var headHeight = head.height();
                                var navHeight = nav.height();

                                if (scrollTop > 130) {
                                    $('.tree').offset({ top: scrollTop })
                                } else {
                                    $('.tree').offset({ top: headHeight + navHeight + 2 })
                                }
                            }
                        })
                    })

                </script>