<body onload="getCar();">
    <!--不同页面的加载事件-->
    <%-include('../includes/header')%>

        <div class="container">
            <span class="session"></span>

            <div class="row" style='margin-top:30px;'>
                <%if(current_user){%>
                    <div style='margin:10px;border-right:2px solid rgb(163, 161, 161);' class="col-sm-2 col-xs-4">
                        <%-include('../includes/sidebar')%>
                    </div>
                    <div style='line-height:30px;'>
                        该篇发布成功后，您将获得20积分
                    </div>
                    <img style='width:40px;height:30px;' src='/images/integral.jpg'>
                    <%}else{%>
                        <%-include('../includes/sidebar2')%>
                            <%}%>
            </div>
            <div class="panel panel-default row">
                <div class="panel-heading" style='font-weight:900;font-size:18px;background-color:#EBE6E6'>维修案例编辑</div>
                <div class="panel-body">
                    <form class="fault" action="/caseUpload" method="post">
                        <div class="form-group">
                            <div class="col-sm-12 col-md-12">
                                <select id="tab" name="tab" class="col-sm-10 col-xs-10 select-control" style='margin-top:10px;margin-right:5px;background-color:rgb(165, 228, 165)'>
                                    <%if(edit){%>
                                        <option>
                                            <%=caseTopic.tab%>
                                        </option>
                                        <%}else{%>
                                            <option>机电维修案例</option>
                                            <option>电子维修案例</option>
                                            <%}%>
                                                <span class="msg"></span>
                                </select>
                            </div>
                            <div class="col-sm-7 col-md-7">
                                <%if(edit){%>
                                    <input id="title" name="title" class="select-control col-xs-7 col-sm-7 postData" type="text" autofocus placeholder="标题，例：奥迪A6发动机无法启动"
                                        value="<%=caseTopic.title%>">
                                    <%}else{%>
                                        <input id="title" name="title" class="select-control col-xs-7 col-sm-7 postData" type="text" autofocus placeholder="标题，例：奥迪A6发动机无法启动">
                                        <%}%>

                                            <span class="msg"></span>
                                            <span class="btn btn-default revise" style="display:none;margin-left:2px;">修改</span>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <select id="carBrand" name="carBrand" class="col-sm-2 col-xs-3 select-control" style='margin-top:10px;margin-right:5px;'>
                                    <%if(edit){%>
                                        <option>
                                            <%=caseTopic.carBrand%>
                                        </option>
                                        <%}else{%>
                                            <option>选择品牌</option>
                                            <%}%>
                                                <span class="msg"></span>
                                </select>
                                <select id="carModel" name="carModel" class="col-sm-2 col-xs-3 select-control" style='display:none;margin-top:10px;margin-right:5px;'>
                                </select>
                                <%if(edit){%>
                                    <input name="mileage" type="text" value="<%=caseTopic.mileage%>" class="col-sm-2 col-xs-3 select-control mileage" placeholder="行驶里程"
                                        style='margin-top:10px;margin-bottom:15px;'>
                                    <%}else{%>
                                        <input name="Mileage" type="text" class="col-sm-2 col-xs-3 select-control mileage" placeholder="行驶里程" style='margin-top:10px;margin-bottom:15px;'>
                                        <%}%>

                                            <span class="msg"></span>
                            </div>
                        </div>
                        <div class="form-grop col-sm-12 col-xs-12">
                            <label style='color:#EC971F'>故障现象:</label>
                            <%if(edit){%>
                                <textarea name="FaultPhenomenon" class="select-control postData"><%=caseTopic.FaultPhenomenon%></textarea>
                                <%}else{%>
                                    <textarea name="FaultPhenomenon" class="select-control postData"></textarea>
                                    <%}%>

                                        <span class="msg"></span>
                                        <div>
                                            <span id="canavas_img">
                                                <%if(edit){%>
                                                    <img src='<%=caseTopic.PhenomenonImg%>'>
                                                    <%}%>
                                            </span>
                                        </div>
                                        <input id="input-1" type="file" style='display:none' onchange="get_img(this.files[0],this.id);">
                                        <span class="glyphicon glyphicon-plus-sign btn btn-warning">选择图片</span>
                                        <span style='display:none' class="glyphicon glyphicon-upload btn btn-default upImg" faultImg='PhenomenonImg'>上传</span>

                        </div>
                        <div class="form-grop col-sm-12 col-xs-12" style='margin-top:15px;'>
                            <label style='color:#286090'>故障确认:</label>
                            <%if(edit){%>
                                <textarea name="FaultConfirmation" class="select-control postData"><%=caseTopic.FaultConfirmation%></textarea>
                                <%}else{%>
                                    <textarea name="FaultConfirmation" class="select-control postData"></textarea>
                                    <%}%>

                                        <span class="msg"></span>
                                        <div>
                                            <span id="canavas_img">
                                                <%if(edit){%>
                                                    <img src='<%=caseTopic.ConfirmationImg%>'>
                                                    <%}%>
                                            </span>
                                        </div>
                                        <input id="input-2" type="file" style='display:none' onchange="get_img(this.files[0],this.id);">
                                        <span class="glyphicon glyphicon-plus-sign btn btn-info">选择图片</span>
                                        <span style='display:none' class="glyphicon glyphicon-upload btn btn-default upImg" faultImg='ConfirmationImg'>上传</span>
                        </div>
                        <div class="form-grop col-sm-12 col-xs-12" style='margin-top:15px;'>
                            <label style='color:#C9302C'>故障检查</label>
                            <%if(edit){%>
                                <textarea name="FaultCheck" class="select-control postData"><%=caseTopic.FaultCheck%></textarea>
                                <%}else{%>
                                    <textarea name="FaultCheck" class="select-control postData"></textarea>
                                    <%}%>
                                        <span class="msg"></span>
                                        <div>
                                            <span id="canavas_img">
                                                <%if(edit){%>
                                                    <img src='<%=caseTopic.CheckImg%>'>
                                                    <%}%>
                                            </span>
                                        </div>
                                        <input id="input-3" type="file" style='display:none' onchange="get_img(this.files[0],this.id);">
                                        <span class="glyphicon glyphicon-plus-sign btn btn-danger">选择图片</span>
                                        <span style='display:none' class="glyphicon glyphicon-upload btn btn-default upImg" faultImg='CheckImg'>上传</span>
                        </div>
                        <div class="form-grop col-sm-12 col-xs-12" style='margin-top:15px;'>
                            <label style='color:#31B0D5'>故障分析</label>
                            <%if(edit){%>
                                <textarea name="faultAnalysis" class="select-control postData"><%=caseTopic.faultAnalysis%></textarea>
                                <%}else{%>
                                    <textarea name="faultAnalysis" class="select-control postData"></textarea>
                                    <%}%>
                                        <span class="msg"></span>
                                        <div>
                                            <span id="canavas_img">
                                                <%if(edit){%>
                                                    <img src='<%=caseTopic.AanlysisImg%>'>
                                                    <%}%>
                                            </span>
                                        </div>
                                        <input id="input-4" type="file" style='display:none' onchange="get_img(this.files[0],this.id);">
                                        <span class="glyphicon glyphicon-plus-sign btn btn-primary">选择图片</span>
                                        <span style='display:none' class="glyphicon glyphicon-upload btn btn-default upImg" faultImg='AanlysisImg'>上传</span>
                        </div>
                        <div class="form-grop col-sm-12 col-xs-12" style='margin-top:15px;'>
                            <label style='color:#449D44'>故障排除</label>
                            <%if(edit){%>
                                <textarea name="TroubleShooting" class="select-control postData"><%=caseTopic.TroubleShooting%></textarea>
                                <%}else{%>
                                    <textarea name="TroubleShooting" class="select-control postData"></textarea>
                                    <%}%>

                                        <span class="msg"></span>
                                        <div>
                                            <span id="canavas_img">
                                                <%if(edit){%>
                                                    <img src='<%=caseTopic.ShootingImg%>'>
                                                    <%}%>
                                            </span>
                                        </div>
                                        <input id="input-5" type="file" style='display:none' onchange="get_img(this.files[0],this.id);">
                                        <span class="glyphicon glyphicon-plus-sign btn btn-success">选择图片</span>
                                        <span style='display:none' class="glyphicon glyphicon-upload btn btn-default upImg" faultImg='ShootingImg'>上传</span>
                        </div>
                        <div class="form-grop col-sm-12 col-xs-12" style='margin-top:15px;'>
                            <label>
                                <span class="glyphicon glyphicon-star"></span>注意事项</label>
                            <%if(edit){%>
                                <textarea id="attention" name="attention" class="select-control postData" type='text/plain'><%=caseTopic.attention%></textarea>
                                <%}else{%>
                                    <textarea id="attention" name="attention" class="select-control postData" type='text/plain'></textarea>
                                    <%}%>
                                        <span class="msg"></span>
                        </div>
                        <div class="form-group col-sm-12 col-xs-12 col-sm-offset-5">
                            <button style='display:none' id="SaveAndUp" type="submit" class="btn btn-defaul">保存并上传</button>
                            <button class="upload btn btn-default" class="">确认并上传</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style='display:none'>
            <input type='text' placeholder="输入已有的标题">
            <span class="insert">添加管理属性</span>
        </div>
        <%-include('../includes/end')%>
            <script>
                
                //获取车辆品牌
                function getCar() {
                    console.log('获取品牌');
                    $.get('/getcar', function (data) {
                        var carBrand = $('#carBrand');
                        if (data.success) {
                            console.log('成功');
                            data.car.map(function (car, index) {
                                carBrand.append('<option>' + car.carBrand + '</option>');
                            });
                            $('#title').focus();//修改案例时，标题获得焦点，方便触发blur事件，否则传到后台的title会为undefined
                        }
                    })
                };
             
                $('.insert').click(function () {
                    let $this = $(this);
                    let val = $this.prev().val();
                    //let yn = true;

                    let action = '/set/admin';
                    let admin = 'admin';
                    let data = {
                        title: val,
                        admin: admin,
                        yn: true,

                    }
                    $.post(action, data, function () { })
                })


                //后台拉取车辆型号
                $('#carBrand').change(function () {
                    var val = $('#carBrand').val();
                    var data = {
                        carBrand: val,
                    };
                    $.post('/getCarModel', data, function (data) {
                        var carModelElement = $('#carModel');
                        carModelElement.show();
                        var carModelChildren = carModelElement.children();
                        if (carModelChildren) {
                            carModelElement.empty();
                            data.car.carModel.map(function (carModel, index) {
                                carModelElement.append('<option>' + carModel.carModel + '</option>')
                            })
                        } else {
                            data.car.carModel.map(function (carModel, index) {
                                carModelElement.append('<option>' + carModel.carModel + '</option>')
                            })
                        }
                    })
                })

                //内容及字数验证
                $('.mileage').blur(function () {
                    $this = $(this);
                    let val = $this.val();
                    let reg = /^[0-9]*$/;
                    let msg = '<span style="color:red;line-height:40px;" class="col-sm-3 col-xs-3 col-md-3 msg">请输入里程(数字)</span>'
                    let errorMsg = $this.next().hasClass('msg')
                    if (val == '' || !reg.test(val)) {
                        if (errorMsg) {
                            $this.next().replaceWith(msg)
                        } else {
                            $this.after(msg);
                        }
                    } else {
                        if (errorMsg) {
                            $this.next().remove();
                        }
                    }
                })
                $('#carBrand').blur(function () {
                    $this = $(this);
                    let val = $this.val();
                    let msg = '<span style="color:red" class="col-sm-12 msg">请选择品牌</span>'
                    let errorMsg = $this.next().hasClass('msg')
                    if (val == '选择品牌') {
                        if (errorMsg) {
                            $this.next().replaceWith(msg)
                        } else {
                            $this.after(msg);
                        }
                    } else {
                        if (errorMsg) {
                            $this.next().remove();
                        }
                    }
                })

                $('.postData').blur(function () {
                    $this = $(this);
                    let val = $this.val();
                    let errorMsg = $this.next().hasClass('msg')

                    let msg = '<span style="color:red" class="col-sm-12 msg">内容至少20个字节</span>'
                    if (!val || val.length < 20) {
                        if (errorMsg) {
                            $this.next().replaceWith(msg)
                        } else {
                            $this.after(msg);
                        }
                    } else {
                        if (errorMsg) {
                            $this.next().remove();
                        }
                    }
                })

                //标题验证 + AJAX标题上传
                $('#title').blur(function () {
                    let msg = '<span style="color:red" class="col-sm-12 msg">标题字符需在8到25之间</span>';
                    let errorMsg = $this.next().hasClass('msg')
                    $this = $(this);
                    let val = $(this).val();
                    if (val.length < 8 || val.length > 25) {
                        if (errorMsg) {
                            $this.next().replaceWith(msg)
                        } else {
                            $this.after(msg);
                        }
                    } else {
                        if (errorMsg) {
                            $this.next().remove();

                            let action = '/caseUpload';
                            let title = val;
                            let data = {
                                val: val,
                            }
                            
                            $('.revise').show();
                            $.post(action, data, function () {
                                console.log('title保存');
                            })
                            $this.attr({ 'title': '修改请点击右边修改按钮', "disabled": "disabled" });
                        }
                    }

                })

                //标题修改
                $('.revise').click(function () {
                    $that = $(this)
                    let OriginalValue = $('#title').val();
                    $('#title').off();
                    $('#title').removeAttr('disabled');

                    $('#title').change(function () {
                        $this = $(this)
                        console.log('标题已改变');
                        console.log('原标题是：' + OriginalValue);
                        console.log('现标题是：' + $this.val());

                        let toggleText = $that.text();
                        let newTitle = $this.val();

                        //此处用涵数，可用retrun退出整个事件，否则点击时一直处于change事件内
                        $that.click(updateTitle(OriginalValue, newTitle))

                    })

                })

                function updateTitle(OriginalValue, newTitle) {
                    console.log('再次点击');
                    $('#title').attr('disabled', 'desabled');

                    let action = '/caseUpload';
                    let data = {
                        OriginalValue: OriginalValue,
                        newTitle: newTitle
                    };
                    $.post(action, data, function (data) {
                        if (data.success) {
                            console.log('标题修改成功');
                        } else {
                            console.log('标题修改失败');
                        }

                    })
                    //更新更改后的标题
                    OriginalValue = newTitle;
                    return;
                }

                //案例保存
                $('#SaveAndUp').click(function () {

                    //禁用时无法获得tltle的value值，上传时先删除禁用属性
                    $('#title').removeAttr('disabled');

                    let msg = $('.msg');
                    let msgCla = msg.attr('class');//jquery的remove涵数并没有并元素彻底删除，但属性都删除了.原生JS的删除也是一样

                    if (typeof (msgCla) !== 'undefined') {
                        console.log('还存在' + msgCla);
                        msg.prev().focus();
                        return false;
                    } else {
                        return true;
                    }
                })



                //获取图片
                $('.form-grop span:nth-child(6)').click(function () {
                    console.log('执行次数');
                    $this = $(this);
                    console.log('属性是：'+$this.text());
                    let input = $this.prev();
                    input.click();

                })

                var imgBase64;//base64位图片全局变量
                

                function get_img(file, id) {
                    $that = $(this);
                    
                    var id = '#' + id;//让jquery可以接收id参数

                    var canavas_img = $(id).prev().find('span');
                    var img = file;
                    console.log('这个元素是：' + id);
                    var fileName = img.name;
                    var fileType = fileName.substring(fileName.indexOf('.'), fileName.length).toLowerCase();
                    console.log(fileType);
                    if (fileType != '.jpg' && fileType != '.jpeg' && fileType != '.gif' && fileType != '.png' && fileType != '.bmp') {
                        alert('请选择jpg,png,fig,bmp格式的图片');
                        return;
                    }
                    var reader = new FileReader();
                    reader.readAsDataURL(img);
                    reader.onload = function () {
                        var img_element = "<img id='trademark' src='" + this.result + "' style='  max-width:none;'/>"//此处要去掉img自适应
                        canavas_img.html(img_element);
                        if (canavas_img.width() > 400 || canavas_img.height() > 400) {
                            alert('请上传宽不大于400，高不大于400的图片');
                            canavas_img.html('');
                            return;
                        }
                       imgBase64 = this.result;

                        /*获取图片后用AJAX上传  注意：需在reader.onload涵数内，否则会因为异步imgBase64还没有获得result值而报错*/
                        var up = $(id).next().next();
                        console.log('获取的属性是：' + up.attr('faultImg'));
                        up.click();

                    }
                }

                //图片上传
               $('.upImg').click(function () {
                    console.log('进入图片上传');
                    $this = $(this)
                    let fautlType = $this.attr('faultImg')
                    let title = $('#title').val();

                    var carModel = $('#carModel').val();

                    var action = '/caseUpload/img';
                    var data = {
                        title: title,
                        carModel: carModel,
                        faultType: fautlType,
                        baseData: imgBase64,
                    }

                    $.post(action, data, function () {

                    })
                })

                $('.upload').click(function () {
                    $('#SaveAndUp').click();
                })

            </script>